.movieDetails {
}

.heroHeader {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 450px;
  margin: 0;
}

.heroHeader:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0.9;
  z-index: 0;
}

.heroHeader:after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 55px;
  background-color: rgba(0, 0, 0, 0.75);
  opacity: 0.9;
  z-index: 0;
  box-shadow: 0 -16px 100px rgba(0, 0, 0, 0.4);
}

.heroContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 80%;
  margin: 0 auto;
  z-index: 1;
}

.moviePoster {
  position: absolute;
  bottom: 24px;
  left: 0;
}

.moviePoster img {
  position: absolute;
  bottom: -130px;
  left: 0;
  border: 4px solid rgba(135, 106, 34, 0.1);
  box-shadow: 0 2px 4px rgba(102, 102, 102, 0.2);
  border-radius: 0.5rem;
}

.moviePoster figcaption {
  position: absolute;
  top: -65px;
  left: 240px;
  color: #fff;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}

.moviePoster figcaption h2 {
  font-size: 1.8rem;
  margin: 0;
  white-space: nowrap;
}

.moviePoster figcaption span {
  font-weight: normal;
  color: #fde180;
  margin-left: 1rem;
}

.additionalData {
  position: absolute;
  left: 290px;
  bottom: 0.5rem;
  margin: 0;
  padding: 0;
  list-style: none;
  color: #fff;
  font-size: 18px;
  white-space: nowrap;
  display: flex;
  text-align: center;
}

.additionalData li + li {
  margin-left: 4rem;
}

.additionalData span {
  display: block;
  font-size: 80%;
  color: #999;
}

.description {
  position: absolute;
  left: 290px;
  top: 0;
  text-align: left;
}
