.movieList {
    display: block;
    max-width: 80%;
    margin: 0 auto;
    padding-bottom: 2rem;
}

.movieList input {
    height: 2rem;
    font-size: 1.2rem;
    padding: 0 10px;
    border-radius: 4px;
    border: 1px solid rgba(135, 106, 34, 0.5);
    width: 50%;
    margin-bottom: 1rem;
    font-family: inherit;
}

.movieList ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 1rem;
    padding: 1rem;
    margin: 0;
    background-color: rgba(135, 106, 34, 0.1);
    border-radius: 0.5rem;
}

.movieList figure {
    margin: 0;
    height: 100%;
    position: relative;
    border-radius: 0.5rem;
    overflow: hidden;
}

.movieList figure:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 250ms ease-in-out;
}

.movieList figure:hover:after {
    opacity: 1;
}

.movieList figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.movieList figcaption {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 10px 5px;
    z-index: 2;
}

.movieRating {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 0 0 4px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-weight: bold;
    padding: 5px 10px;
    z-index: 2;
}

.comment {
    margin-top: 2rem;
    opacity: 0.5;
}
